@model QuanLyGaraOto.ViewModel.DSPhieuNhapHangViewModel
@using PagedList.Mvc;
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách phiếu nhập hàng";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<style>
    .table th , .clickable-row {
        width: auto !important;
        font-size: 10pt;
    }
</style>

<body>
<h3 class="text-center" style="color: green;">DANH SÁCH PHIẾU NHẬP HÀNG</h3>
    @Html.Raw(TempData["msg"])
    @using (@Html.BeginForm("Index", "PhieuNhapHang", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-inline">
            <div class="form-group">
                <label class="input-sm" for="searchOption">Tìm theo:</label>
                @Html.DropDownList("searchOption", Model.listSearchOption, new { @class = "form-control input-sm" })
            </div>
            <div class="form-group">
                <label class="input-sm" for="searchOption">Giá trị:</label>
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm", @maxlength = 50 })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm" style="margin-top: 35px;"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
            </div>
        </div>
    }
@*@Html.ActionLink("Thêm", "ThemMoiNhapLe", null, new { @class = "btn btn-primary btn-lg glyphicon glyphicon-plus" })*@
    <a href="../PhieuNhapHang/ThemMoiNhapLe" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>
    <div class="table-responsive" style="padding-top: 10px;">
        <div class="row">
            <div class="col-sm-11">
                <table id="phieudh-table" class="table table-bordered table table-hover ">
                    <thead style="color: red; background-color: white">
                    <tr>
                        <th style="display: none">Id</th>
                        <th>Mã phiếu nhập</th>
                        <th>Tên nhân viên</th>
                        <th>Mã phiếu đặt</th>
                        <th>@Html.ActionLink("Ngày lập", "Index", new {sortOrder = ViewBag.DateNhapOrderSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption})</th>
                        <th>Nhà cung cấp</th>
                        <th>Tổng tiền</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var item in Model.ListPhieuNhapHang.ToList())
                        {
                            <tr class="clickable-row">
                                <td id="id" style="display: none">@item.PhieuNhapHang.ID_PHIEUNHAPHANG</td>
                                <td style="vertical-align: middle"> @item.PhieuNhapHang.MA_PHIEUNHAPHANG</td>
                                <td style="vertical-align: middle">@item.TenNV</td>
                                <td style="vertical-align: middle"> @item.MaPhieuDatHang</td>
                                <td style="vertical-align: middle">@String.Format("{0:dd/MM/yyyy}", item.PhieuNhapHang.NGAYLAP)</td>
                                <td style="vertical-align: middle">@item.TenNCC</td>
                                <td style="vertical-align: middle">@String.Format("{0:#,###,###,###}", item.PhieuNhapHang.TONGTIEN)</td>
                                <td style="vertical-align: middle">
                                    <a href="@Url.Action("In", "PhieuNhapHang", new { id = @item.PhieuNhapHang.ID_PHIEUNHAPHANG })" class="btn btn-info glyphicon glyphicon-print btn-sm">In</a>
                                    @Html.ActionLink("Sửa", "CapNhat", new {id = @item.PhieuNhapHang.ID_PHIEUNHAPHANG}, new {@class = "btn btn-warning glyphicon glyphicon-pencil btn-sm"})
                                    <a class="btn btn-primary btn-sm glyphicon glyphicon-plus" href="@Url.Action("NhapPhieuChiFromPhieuNhapHang", "PhieuChi", new { idPhieuNhapHang = @item.PhieuNhapHang.ID_PHIEUNHAPHANG })">Lập phiếu chi</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

    <div style="font-size: 10pt">
        Trang @(Model.ListPhieuNhapHang.PageCount < Model.ListPhieuNhapHang.PageNumber ? 0 : Model.ListPhieuNhapHang.PageNumber) của @Model.ListPhieuNhapHang.PageCount

        @Html.PagedListPager(Model.ListPhieuNhapHang, page => Url.Action("Index", new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption}))
    </div>
        </div>

            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script>
                $('#phieudh-table')
                    .on('click',
                        '.clickable-row',
                        function (event) {
                            if ($(this).hasClass('active')) {
                                $(this).removeClass('active');
                            } else {
                                $(this).addClass('active').siblings().removeClass('active');
                            }
                        });
            </script>

</body>
