<!DOCTYPE html>
@model QuanLyGaraOto.ViewModel.PhieuTiepNhanViewModel
@{
    ViewBag.Title = "General";
}
<html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>@ViewBag.Title</title>*@

    <style>
        html, body {
            margin: 0px !important;
            padding: 0px !important;
            overflow-x: hidden;
        }

        .row.content {
            height: auto;
        }

        @@media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }

        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }

        .table-info {
            border-bottom: 0px !important;
        }

            .table-info th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }
    </style>
</head>
<body style="background-color:#e6e6e6; ">
    <h3 class="text-center" style="color:green;">THÔNG TIN PHIẾU TIẾP NHẬN XE</h3>
    <div class="container-fluid " style="margin-left: 100px;">

        <div class="row content">
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="input-sm" style="color : red;">Mã phiếu :</label>
                        <input class="form-control input-sm" type="text" maxlength="100" readonly="readonly" value="@(Model.selectedPhieuTiepNhan.MA_PHIEUTIEPNHAN != null ? Model.selectedPhieuTiepNhan.MA_PHIEUTIEPNHAN.ToString() : "" )" name="MA_PHIEUTIEPNHAN" required />
                    </div>
                    <div class="form-group ">
                        <label class="input-sm">Ngày tiếp nhận :</label>
                        <input class="form-control input-sm" readonly="readonly" id="datebox_ngaytiepnhan" type="text" value="@String.Format("{0:yyyy/MM/dd}", @Model.selectedPhieuTiepNhan.NGAYLAP)" maxlength="30" name="NGAYLAP" required />
                    </div>
                    <div class="form-group ">
                        <label class="input-sm">Khách hàng :</label>
                        <input class="form-control input-sm" type="text" value="@Model.selectedPhieuTiepNhan.KHACHHANG.TEN_KH" readonly="readonly" maxlength="30" name="MA_KH" required /> <!--auto fill information of the staff-->
                    </div>
                    <div class="form-group ">
                        <label class="input-sm">Biển số xe :</label>
                        <input class="form-control input-sm" readonly="readonly" type="text" value="@Model.selectedPhieuTiepNhan.BIENSO_XE" maxlength="30" name="BIENSO_XE" required />
                        <a href="/Xe/SuaThongTinXe?bienSoXe=@Model.selectedPhieuTiepNhan.BIENSO_XE">Sửa thông tin xe</a> <!-- toi trang sua thong tin xe -->
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group ">
                        <label class="input-sm">Mã số chờ :</label>
                        <input class="form-control input-sm" type="text" value="@Model.selectedPhieuTiepNhan.MASOCHO" readonly="readonly" maxlength="30" name="MASOCHO" required /> <!--auto fill information of the staff-->
                    </div>
                    <div class="form-group ">
                        <label class="input-sm">Ngày trả xe :</label>
                        <input class="form-control input-sm date ngayhengiao" id="datepicker_ngaytra" type="text" value="@String.Format("{0:yyyy/MM/dd}", @Model.selectedPhieuTiepNhan.NGAYTRAXE)" name="NGAYTRAXE" placeholder="27/8/2016" />

                    </div>
                    <div class="form-group ">
                        <label class="input-sm">Tình trạng :</label>
                        <textarea class="form-control input-sm" name="TINHTRANG" maxlength="1000" required>@Model.selectedPhieuTiepNhan.TINHTRANG</textarea> <!--auto fill information of the staff-->
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div style="float: left; margin-left: 100px;">
                    <p>
                        <strong>Người lập</strong>
                    </p>
                    <p>
                        <i>Ký tên</i>
                    </p>
                </div>
                <div style="float: right; margin-right: 100px;">

                    <p>
                        <strong>Khách hàng</strong>
                    </p>
                    <p>
                        <i>Ký tên</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
