@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuTiepNhanViewModel

@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách phiếu tiếp nhận";
}
<head>
    <title>@ViewBag.Title</title>
</head>


<style>
    .table th, .clickable-row {
        width: auto !important;
        font-size: 10pt;
    }
</style>


@using (@Html.BeginForm("Index", "PhieuTiepNhan", FormMethod.Get, new { @class = "form-inline" }))
{
    <h3 class="text-center" style="color: green;">DANH SÁCH PHIẾU TIẾP NHẬN</h3>
    <div class="form-inline">
        <div class="form-group">
            <label for="searchOption">Tìm theo:</label>
            @Html.DropDownList("searchOption", Model.filterOptions, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="searchOption">Giá trị:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Ví dụ : 08/25/2016" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Tìm kiếm</button>
        </div>
    </div>
}
<div class="form-inline">
    <a href="../PhieuTiepNhan/ThemPhieuTiepNhan" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>
    <a href="../PhieuTiepNhan/ThemPhieuTiepNhanTuKhachQuen" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới từ khách quen</a>
</div>

<div class="table-responsive" style="padding-top:10px;">
    <table id="phieutiepnhan_table" class="table table-bordered table table-hover" style="text-align : center">
        <thead style="color:red; background-color: white; ">
            <tr>
                <th>Mã phiếu</th>
                <th>Ngày lập</th>
                <th>Khách hàng</th>
                <th>Biển số xe</th>
                <th>Tình trạng</th>
                <th>Ngày hẹn trả</th>
                <th>Số chờ</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @{
                //List<ASPExample.Models.Product> listProduct = (List<ASPExample.Models.Product>)Model.listProduct;
                foreach (var item in Model.danhSachPhieuTiepNhan.ToList())
                {
                    <tr class="clickable-row">
                        <!--  <td id="id" style="display:none"</td>  id cua phieu ban se duoc fill nhung se khong hien thi tren view cua client-->
                        <td id="maPhieuTiepNhan"> @item.maPhieuTiepNhan</td>
                        <td> @String.Format("{0:dd/MM/yyyy}", item.ngayLap.Value.Date)</td> <!-- chi quan tam den ngay, khong quan tam chi tiet den gio-->
                        <td> @item.tenKhachHang</td>
                        <td>
                            <a href="/Xe/SuaThongTinXe?bienSoXe=@item.bienSoXe">@item.bienSoXe</a>
                        </td>
                        <td>@item.tinhTrang</td>
                        <td>@(item.ngayTra != null ? String.Format("{0:dd/MM/yyyy}", item.ngayTra.Value.Date) : string.Empty)</td>
                        <td>@item.maSoCho</td>
                        <!-- Chi cho phep xoa khi phieu tiep nhan chua duoc co phieu dich vu-->

                        <td style="text-align : right;">
                            <a href="@Url.Action("In", "PhieuTiepNhan", new { id = @item.maPhieuTiepNhan })" class="btn btn-primary btn-sm glyphicon glyphicon-print">In</a>
                            @Html.ActionLink("Sửa", "SuaPhieuTiepNhan", "PhieuTiepNhan", new { maPhieu = @item.maPhieuTiepNhan }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                            @if (Model.service.PHIEU_DICHVU.Where(e => e.MAPHIEU_TIEPNHAN == item.maPhieuTiepNhan).Count() == 0)
                            {
                                @Html.ActionLink("Lập phiếu dịch vụ", "NhapPhieuDichVu", "PhieuDichVu", new { maphieutiepnhan = @item.maPhieuTiepNhan }, new { @class = "btn btn-primary glyphicon glyphicon-pencil" })
                                <button id="button_delete" class="btnDelete btn btn-danger glyphicon glyphicon-remove" type="button">Xóa</button>
                            }


                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    Trang @(Model.danhSachPhieuTiepNhan.PageCount < Model.danhSachPhieuTiepNhan.PageNumber ? 0 : Model.danhSachPhieuTiepNhan.PageNumber) of @Model.danhSachPhieuTiepNhan.PageCount
    @Html.PagedListPager(Model.danhSachPhieuTiepNhan, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#phieutiepnhan_table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    ///
    // Handle when user click delete button
    //
    $(document).ready(function () {
        $(".btnDelete").on("click", function (e) {
            // tim cot co id = 'maPhieuTiepNhan'
            var $item = $(this).closest("tr").find("#maPhieuTiepNhan").text();
            var itemid = $item.valueOf();
            var isSucess = -1;
            var message = "";
            var row = $(this).closest("tr");

            $.ajax({
                url: '/PhieuTiepNhan/Xoa/',

                data: JSON.stringify({ id: itemid }), // parameter

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;

                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    row.remove();
                    alert(message);
                }
                else {
                    alert(message);
                }
            });
        })
    });

</script>