@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuTiepNhanViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Sửa thông tin xe";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">Sửa thông tin phiếu tiếp nhận</h3>

@using (Html.BeginForm("SuaPhieuTiepNhan", "PhieuTiepNhan", FormMethod.Post, new { @id = "#suathongtinphieutiepnhan_form" }))
{
    <div class="form-group">
        <label class="input-sm" style="color : red;">Mã phiếu :</label>
        <input class="form-control input-sm" type="text" maxlength="100" readonly="readonly" value="@(Model.selectedPhieuTiepNhan.MA_PHIEUTIEPNHAN != null ? Model.selectedPhieuTiepNhan.MA_PHIEUTIEPNHAN.ToString() : "" )" name="MA_PHIEUTIEPNHAN" required />
    </div>
    <div class="form-group ">
        <label class="input-sm">Ngày tiếp nhận :</label>
        <input class="form-control input-sm" readonly="readonly" id="datebox_ngaytiepnhan" type="date" value="@Model.selectedPhieuTiepNhan.NGAYLAP.Value.ToString("yyyy-MM-dd")" maxlength="30" name="NGAYLAP" required />
    </div>
    <div class="form-group ">
        <label class="input-sm">Khách hàng :</label>
        <input class="form-control input-sm" type="text" value="@Model.selectedPhieuTiepNhan.KHACHHANG.TEN_KH" readonly="readonly" maxlength="30" name="MA_KH" required /> <!--auto fill information of the staff-->
    </div>
    <div class="form-group ">
        <label class="input-sm">Biển số xe :</label>
        <input class="form-control input-sm" readonly="readonly" type="date" value="@Model.selectedPhieuTiepNhan.BIENSO_XE" maxlength="30" name="BIENSO_XE" required />
        <a href="/Xe/SuaThongTinXe?bienSoXe=@Model.selectedPhieuTiepNhan.BIENSO_XE">Sửa thông tin xe</a> <!-- toi trang sua thong tin xe -->
    </div>
    <div class="form-group ">
        <label class="input-sm">Mã số chờ :</label>
        <input class="form-control input-sm" type="text" value="@Model.selectedPhieuTiepNhan.MASOCHO" readonly="readonly" maxlength="30" name="MASOCHO" required /> <!--auto fill information of the staff-->
    </div>
    <div class="form-group ">
        <label class="input-sm">Ngày trả xe :</label>
        <input class="form-control input-sm" id="datebox_ngaytraxe" type="date" value="@(Model.selectedPhieuTiepNhan.NGAYTRAXE.Value.ToString("yyyy-MM-dd") != null  ? Model.selectedPhieuTiepNhan.NGAYTRAXE.Value.ToString("yyyy-MM-dd") : "" )" maxlength="30" name="NGAYTRAXE" required /> <!--auto fill information of the staff-->
    </div>
    <div class="form-group ">
        <label class="input-sm">Tình trạng :</label>
        <textarea class="form-control input-sm" name="TINHTRANG" required>@Model.selectedPhieuTiepNhan.TINHTRANG</textarea> <!--auto fill information of the staff-->
    </div>

    <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Lưu</button>

    <script>

        ///
        // Ultility method for comparing date validation
        //
        var isAfterStartDate = function (startDateStr, endDateStr) {
            var inDate = new Date(startDateStr),
                eDate = new Date(endDateStr);
            if (eDate >= inDate) {
                return true;
            } else {
                return false;
            }

        };
        //
        // Check data validation before submitting form
        $("form").submit(function (e) {
            // Firstly, check final payment date and creation date
            var creationTime = $("#datebox_ngaytiepnhan").val();
            var finalPaymentTime = $("#datebox_ngaytraxe").val();
            if (isAfterStartDate(creationTime, finalPaymentTime) == false) {
                alert("Hạn chót thanh toán phải lớn hơn hoặc cùng với ngày lập phiếu !");
                e.preventDefault();
            }

            // check validation of paying
            var remainder = new Number($("#textbox_sotienconlai").val());
            var total = new Number($("#textbox_trigia").val());
            if (remainder >= total) {
                alert("Số tiền còn lại phải nhỏ hơn số tổng trị giá phiếu !");
                e.preventDefault();
            }
        });
        // update creation date in text box
        document.getElementById("datebox_ngaylapphieu").valueAsDate = new Date();

    </script>
}







