@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuTiepNhanViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Phiếu tiếp nhận mới";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN PHIẾU TIẾP NHẬN MỚI</h3>
@using (Html.BeginForm("ThemPhieuTiepNhan", "PhieuTiepNhan", FormMethod.Post, new { id = "#form_themphieutiepnhan" }))
{
    <div class="form-group ">
        <label class="input-sm"> Ngày lập :</label>
        <input class="form-control input-sm" type="datetime" readonly="readonly" name="ngayTiepNhan" value="@DateTime.Now" />
    </div>
       <!-- colum sm 6-->
    <div class="col-sm-4">
        <h4> THÔNG TIN KHÁCH HÀNG</h4>
        <div class="form-group">
            <label class="input-sm">Tên khách hàng:</label>
            <input class="form-control input-sm" type="text" name="tenKhachHang" value="@(Model.thongTinPhieuMoi.tenKhachHang != null ? Model.thongTinPhieuMoi.tenKhachHang : "")" />
            @Html.ValidationMessage("tenKhachHang", new { @style = "color:red;" })
        </div>
        <div class="form-group ">
            <label class="input-sm">Địa chỉ :</label>
            <input class="form-control input-sm" type="text" name="diaChi" value="@(Model.thongTinPhieuMoi.diaChi != null ?Model.thongTinPhieuMoi.diaChi : "" )" />
            @Html.ValidationMessage("diaChi", new { @style = "color:red;" })
        </div>
        <div class="form-group ">
            <label class="input-sm">Số điện thoại :</label>
            <input class="form-control input-sm" type="text" name="dienThoai" value="@(Model.thongTinPhieuMoi.dienThoai != null ? Model.thongTinPhieuMoi.dienThoai: "" )" />
            @Html.ValidationMessage("dienThoai", new { @style = "color:red;" })
        </div>
        <div class="form-group ">
            <label class="input-sm">Số CMND :</label>
            <input class="form-control input-sm" type="text" name="soCmnd" value="@(Model.thongTinPhieuMoi.soCmnd != null ? Model.thongTinPhieuMoi.soCmnd: "" )" />
            @Html.ValidationMessage("soCmnd", new { @style = "color:red;" })
        </div>
    </div>
    <!-- colum sm 6-->
    <div class="col-sm-4">
        <h4>THÔNG TIN XE</h4>
        <div class="form-group ">
            <label class="input-sm">Biển số xe :</label>
            <input class="form-control input-sm" type="text" name="bienSoXe" value="@(Model.thongTinPhieuMoi.bienSoXe != null ? Model.thongTinPhieuMoi.bienSoXe : "")" />
        </div>
        <div class="form-group">
            <label class="input-sm">Hiệu xe :</label>
            <select name="hieuXe" class="cboNhom form-control input-sm">
                @foreach (var item in Model.danhSachHieuXe)
                {

                    <option value="@item.MA_HIEUXE">@item.MA_HIEUXE</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="input-sm">Số khung :</label>
            <input class="form-control input-sm" type="text" name="soKhung" value="@(Model.thongTinPhieuMoi.soKhung != null ? Model.thongTinPhieuMoi.soKhung: "" )" />

        </div>
        <div class="form-group">
            <label class="input-sm">Số máy :</label>
            <input class="form-control input-sm" type="text" name="soMay" value="@(Model.thongTinPhieuMoi.soMay != null ? Model.thongTinPhieuMoi.soMay: "" )" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="tinhTrang" class="input-sm">Tình trạng xe :</label>
            <textarea class="form-control" rows="5" id="tinhTrang" name="tinhTrang">@(Model.thongTinPhieuMoi.tinhTrang != null ? Model.thongTinPhieuMoi.tinhTrang : "")</textarea>
        </div>
        <div class="form-group">
            <label class="input-sm">Đời xe :</label>
            <input class="form-control input-sm" type="text" name="doiXe" value="@(Model.thongTinPhieuMoi.doiXe != null ? Model.thongTinPhieuMoi.doiXe: "") " />
        </div>
        <div class="form-group">
            <label class="input-sm">Số Km :</label>
            <input class="form-control input-sm" type="text" name="soKm" value="@(Model.thongTinPhieuMoi.soKm != null ? Model.thongTinPhieuMoi.soKm : 0 )" />
        </div>
    </div>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Lưu</button>
}

