@model QuanLyGaraOto.ViewModel.LapPhieuThuViewModel
@{
    ViewBag.Title = "Lập phiếu thu tiền";
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
}
@Html.Raw(TempData["msg"])
<head>
    <title>@ViewBag.Title</title>
    <style>
        .table {
            border-bottom:0px !important;
        }
        .table th, .table td {
            border: 1px !important;
        }
        .fixed-table-container {
            border:0px !important;
        }
    </style>
</head>
<body>
    <h3 class="text-center" style="color: green;">Lập phiếu thu tiền</h3>
    @using (Html.BeginForm("ThemMoi", "PhieuThu", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.PhieuThuTien.MA_NV, Model)
        @Html.HiddenFor(m => m.PhieuThuTien.ID_PHIEUBANXE, Model)
        @Html.HiddenFor(m => m.PhieuThuTien.ID_PHIEUBANLE, Model)
        @Html.HiddenFor(m => m.PhieuThuTien.ID_PHIEUDV, Model)
    <table class="table borderless">
        <tr>
            <th class="col-xs-2"></th>
            <th class="col-xs-10"></th>
        </tr>
        <tbody>
            <tr>
                <td ><label>Mã phiếu thu:</label></td>
                <td>@Html.TextBoxFor(m => m.PhieuThuTien.MAPHIEUTHU, new { @class = "form-control input-sm", oninput = "setCustomValidity('')", oninvalid = "setCustomValidity('Mã phiếu thu không được để trống');" })</td>
            </tr>
            <tr>
                <td><label>Ngày lập:</label></td>
                <td>@Html.TextBoxFor(m => m.PhieuThuTien.NGAYLAP, new { @class = "form-control input-sm", @readonly="readonly"})</td>
            </tr>
            <tr>
                <td><label>Tên nhân viên:</label></td>
                <td>@Html.TextBoxFor(m => m.TenNV, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td><label>Nội dung thu:</label></td>
                <td>@Html.TextBoxFor(m => m.PhieuThuTien.NOIDUNG_THU, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td><label>Trị giá phiếu cần thu:</label></td>
                <td>@Html.TextBoxFor(m => m.TongTien, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td><label>Số tiền còn lại:</label></td>
                <td>@Html.TextBoxFor(m => m.ConNo, new { @class = "form-control input-sm", @readonly = "readonly" })</td>
            </tr>
            <tr>
                <td><label>Số tiền thu:</label></td>
                <td>@Html.TextBoxFor(m => m.PhieuThuTien.SOTIEN, new { @class = "form-control", @type = "number", oninput="setCustomValidity('Số điện thoại không được bỏ trống')", onkeypress="return event.charCode >= 48 && event.charCode <= 57" })</td>
            </tr>

        </tbody>
    </table>
        <div class="form-group">
            <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus input-sm"></span> Lưu</button>
        </div>
    }
</body>

