<!DOCTYPE html>
@model QuanLyGaraOto.ViewModel.PhieuMuaXeViewModel
@{
    ViewBag.Title = "General";
}
<html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>@ViewBag.Title</title>*@

    <style>
        html, body {
            margin: 0px !important;
            padding: 0px !important;
            overflow-x: hidden;
        }

        .row.content {
            height: auto;
        }

        @@media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }

        .table {
            border-bottom: 0px !important;
        }

            .table th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }

        .table-info {
            border-bottom: 0px !important;
        }

            .table-info th, .table td {
                border: 1px !important;
            }

        .fixed-table-container {
            border: 0px !important;
        }
    </style>
</head>
<body style="background-color:#e6e6e6; ">

    <div class="container-fluid " style="margin-left: 100px;">
        @using (Html.BeginForm("SuaPhieuMuaXe", "PhieuMuaXe", FormMethod.Post, new { @id = "#new_sale_bill_form" }))
        {
            <div class="col-xs-6">
                <div class="form-group" hidden="hidden">
                    <input class="form-control input-sm" hidden="hidden" type="text" maxlength="100" value="@Model.selectedBill.id" name="maPhieuMuaXe" required />
                </div>
                <div class="form-group">
                    <label class="input-sm" style="color : red;">Mã phiếu :</label>
                    <input class="form-control input-sm" type="text" maxlength="100" readonly="readonly" value="@Model.selectedBill.maPhieuMuaXe" name="maPhieuMuaXe" required />
                </div>
                <div class="form-group ">
                    <label class="input-sm"> Ngày lập :</label>
                    <input class="form-control input-sm" readonly="readonly" type="text" value="@Model.selectedBill.ngayLapPhieu.Value" id="datebox_ngaylapphieu" maxlength="30" name="ngayLapPhieu" required />
                </div>
                <div class="form-group ">
                    <label class="input-sm">Mã Nhân viên lập :</label>
                    <input class="form-control input-sm" type="text" value="@Model.selectedBill.maNhanVien" readonly="readonly" maxlength="30" name="maNhanVien" required /> <!--auto fill information of the staff-->
                </div>
                <div class="form-group">
                    <label class="input-sm">Khách hàng :</label>
                    <select name="maKhachHang" class="cboNhom form-control input-sm">
                        <option value="" style="color: blue; font-weight : bold;">Khách vãng lai</option> <!--trường hợp là khách vãng lai-->
                        @foreach (var item in Model.danhSachKhachHang)
                        {
                            if (item.MA_KH == Model.selectedBill.maKhachHang)
                            {
                                <option value="@item.MA_KH" selected="selected">@item.TEN_KH</option>
                            }
                            else
                            {
                                <option value="@item.MA_KH">@item.TEN_KH</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="input-sm">Hiệu xe :</label>
                    <select name="hieuXe" class="cboNhom form-control input-sm">
                        @foreach (var item in Model.danhSachHieuXe)
                        {
                            if (!item.MA_HIEUXE.Equals("Tất cả"))
                            {
                                if (item.MA_HIEUXE == Model.selectedBill.hieuXe)
                                {
                                    <option value="@item.MA_HIEUXE">@item.MA_HIEUXE</option>
                                }
                                else
                                {
                                    <option value="@item.MA_HIEUXE" selected="selected">@item.MA_HIEUXE</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label class="input-sm">Biển số xe :</label>
                    <input class="form-control input-sm" type="text" value="@Model.selectedBill.bienSoXe" readonly="readonly" placeholder="Biển số xe" maxlength="30" name="bienSoXe" required />
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="input-sm">Số khung :</label>
                    <input class="form-control input-sm" type="text" value="@Model.selectedBill.soKhung" placeholder="Số khung xe" maxlength="30" name="soKhung" required />
                </div>
                <div class="form-group">
                    <label class="input-sm">Số máy :</label>
                    <input class="form-control input-sm" type="text" placeholder="Số máy" value="@Model.selectedBill.soMay" maxlength="30" name="soMay" required />
                </div>
                <div class="form-group">
                    <label for="tinhTrang" class="input-sm">Tình trạng xe :</label>
                    <textarea class="form-control" rows="5" id="tinhTrang" name="tinhTrang">@Model.selectedBill.tinhTrang</textarea>
                </div>
                <div class="form-group">
                    <label class="input-sm">Đời xe :</label>
                    <select name="doiXe" class=" form-control input-sm">
                        @for (int i = 2000; i <= DateTime.Now.Year; ++i)
                        {
                            if (i == int.Parse(@Model.selectedBill.doiXe))
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group ">
                    <label class="input-sm" style="color: blue">Trị giá (VNĐ):</label>
                    <input class="form-control input-sm" type="number" id="textbox_trigia" value="@Model.selectedBill.tongGiaTri" required maxlength="20" name="tongGiaTri" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Dữ liệu không được trống')" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                </div>
            </div>
        }
        <div class="clearfix"></div>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div style="float: left; margin-left: 100px;">
                    <p>
                        <strong>Người lập</strong>
                    </p>
                    <p>
                        <i>Ký tên</i>
                    </p>
                </div>
                <div style="float: right; margin-right: 100px;">

                    <p>
                        <strong>Khách hàng</strong>
                    </p>
                    <p>
                        <i>Ký tên</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
