@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuChiViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Phiếu chi mới";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN PHIẾU CHI MỚI</h3>
@using (Html.BeginForm("NhapPhieuChi", "PhieuChi", FormMethod.Post, new { @id = "#new_sale_bill_form" }))
{
    <div class="col-sm-6">
        <div class="form-group">
            <label class="input-sm" style="color : red;">Mã phiếu :</label>
            <input class="form-control input-sm" type="text" maxlength="100" name="MA_PHIEUCHI" required />
        </div>
        <div class="form-group ">
            <label class="input-sm"> Ngày lập :</label>
            <input class="form-control input-sm" readonly="readonly" type="text" id="datebox_ngaylapphieu" value="@DateTime.Now" maxlength="30" name="NGAYLAP" required />
        </div>
        <div class="form-group ">
            <label class="input-sm">Nhân viên:</label>
            <input class="form-control input-sm" type="text" value="@Session["staff_name"]" readonly="readonly" maxlength="30" name="MA_NV" required /> <!--auto fill information of the staff-->
        </div>
        <div class="form-group ">
            <label class="input-sm">Trị giá (VNĐ):</label>
            <input class="form-control input-sm" type="number" value="@Model.triGia" id="textbox_trigia" required maxlength="10" name="SOTIEN" readonly>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group ">
            <label class="input-sm">Nội dung chi:</label>
            <textarea class="form-control input-sm" rows="10" name="NOIDUNG" required>@Model.noiDungChi</textarea>
        </div>
        <div class="form-group hidden ">
            <label class="input-sm">Mã phiếu nhập hàng :</label>
            <input id="textbox_sotienconlai" readonly="readonly" class="form-control input-sm" type="text" name="ID_PHIEUNHAPHANG" />
        </div>
        <div class="form-group hidden">
            <label class="input-sm">Mã phiếu mua xe :</label>
            <input class="form-control  input-sm" value="@Model.idPhieuMuaXe" readonly="readonly" id="datebox_hanchotthanhtoan" type="text" maxlength="255" name="ID_PHIEUMUAXE" />
        </div>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Lưu</button>
    </div>
}
