@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuBanXeViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách phiếu bán xe";
}
<head>
    <title>@ViewBag.Title</title>
</head>


<style>
    .table th {
        width: auto !important;
    }
</style>

@using (@Html.BeginForm("Index", "PhieuBanXe", FormMethod.Get, new { @class = "form-inline" }))
{
    <h3 class="text-center" style="color: green;">DANH SÁCH PHIẾU BÁN XE</h3>
    <div class="form-inline">
        <div class="form-group">
            <label for="searchOption">Tìm theo:</label>
            @Html.DropDownList("searchOption", Model.listSearchOptions, new { @class = "form-control" })
            @* @Html.DropDownListFor(m => m.selectedValue, Model.listSearchOption, new { @class = "form-control" })*@
        </div>
        <div class="form-group">
            <label for="searchOption">Giá trị:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Ví dụ : 1/1/2016" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Search</button>
        </div>
    </div>
}
<a href="../PhieuBanXe/NhapPhieuBanXe.cshtml" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>

<div class="table-responsive" style="padding-top:10px;">
    <table id="phieubanxe_table" class="table table-bordered table table-hover">
        <thead style="color:red;background-color : white;">
            <tr>
                <th style="display:none">Id</th>
                <th>Mã phiếu</th>
                <th>Ngày lập</th>
                <th>Mã nhân viên</th>
                <th>Biến số xe</th>
                <th>Trị giá</th>
                <th>Hạn chót thanh toán</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.listOfPHIEUBANXEs.ToList())
                {
                    <tr class="clickable-row">
                        <td id="id" style="display:none">@item.id</td> <!-- id cua phieu ban se duoc fill nhung se khong hien thi tren view cua client-->
                        <td> @item.maPhieuBan</td>
                        <td> @String.Format("{0:dd/MM/yyyy}", item.ngayLapPhieu.Value.Date)</td> <!-- chi quan tam den ngay, khong quan tam chi tiet den gio-->
                        <td> @item.maNhanVien</td>
                        <td> @item.bienSoXe</td>
                        <td> @String.Format("{0:#,###,###,###}", item.giaTri)</td>
                        <td> @String.Format("{0:dd/MM/yyyy}", item.hanChotThanhToan.Value.Date)</td><!-- chi quan tam den ngay, khong quan tam chi tiet den gio-->
                        <td style="text-align:right">
                            @Html.ActionLink("Sửa", "SuaPhieuBanXe", new { id = @item.id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                            @if (!item.isPaid) // only show delete button and create receipt voucher if the bill is not paid
                            {
                                <button id="button_delete" class="btnDelete btn btn-danger glyphicon glyphicon-remove" type="button">Xóa</button>
                                <a href="@Url.Action("ThemMoi", "PhieuThu", new { idphieu = @item.id, type = "pbx" })" class="btn btn-primary btn-sm glyphicon glyphicon-plus">Lập phiếu thu</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    Page @(Model.listOfPHIEUBANXEs.PageCount < Model.listOfPHIEUBANXEs.PageNumber ? 0 : Model.listOfPHIEUBANXEs.PageNumber) of @Model.listOfPHIEUBANXEs.PageCount
    @Html.PagedListPager(Model.listOfPHIEUBANXEs, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#phieubanxe_table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    ///
    // Handle when user click delete button
    //
    $(document).ready(function () {
        $("#button_delete").on("click", function (e) {
            var $item = $(this).closest("tr").find("#id").text();
            var itemid = $item.valueOf();
            var isSucess = -1;
            var message = "";
            var row = $(this).closest("tr");

            $.ajax({
                url: '/PhieuBanXe/Xoa/',

                data: JSON.stringify({ billId: itemid }), // parameter

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;

                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    row.remove();
                    alert(message);
                    // window.location.replace("index");
                }
                else {
                    alert(message);
                }
            });
        })
    });

</script>