@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuBanXeViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Cập nhật phiếu bán xe";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">CẬP NHẬT PHIẾU BÁN XE</h3>
@using (Html.BeginForm("SuaPhieuBanXe", "PhieuBanXe", FormMethod.Post, new { @id = "#existing_sale_bill_form" }))
{
    <div class="col-sm-6">
        <div class="form-group">
            <input class="form-control input-sm" style="display: none" readonly="readonly" type="text" maxlength="100" value="@Model.selectedPHIEUBANXE.ID_PHIEUBANXE" name="ID_PHIEUBANXE" required />
        </div>
        <div class="form-group">
            <label class="input-sm" style="color : red;">Mã phiếu :</label>
            <input class="form-control input-sm" type="text" maxlength="100" value="@Model.selectedPHIEUBANXE.MAPHIEUBAN" name="MAPHIEUBAN" required />
        </div>
        <div class="form-group">
            <label class="input-sm"> Ngày lập :</label>
            <input class="form-control input-sm" readonly="readonly" type="text" id="datebox_ngaylapphieu" maxlength="30" name="NGAYLAP" value="@Model.selectedPHIEUBANXE.NGAYLAP.Value.Date.ToShortDateString()" required />
        </div>
        <div class="form-group ">
            <label class="input-sm">Mã Nhân viên lập :</label>
            <input class="form-control input-sm" type="text" value="@Model.service.NHANVIENs.Where(e =>e.MA_NV == Model.selectedPHIEUBANXE.MaNV).Single().HOTEN" readonly="readonly" maxlength="30" name="MaNV" required /> <!--auto fill information of the staff-->
        </div>
        <div class="form-group ">
            <label class="input-sm">Biển số xe</label>
            <input class="form-control input-sm" type="text" value="@Model.selectedPHIEUBANXE.BS_XE" readonly="readonly" maxlength="30" name="BS_XE" required /> <!--auto fill information of the staff-->
        </div>
        <div class="form-group">
            <label class="input-sm">Khách hàng :</label> <!--Information of customer is allowed to be modified-->
            <select name="MAKH" class="cboNhom form-control input-sm">
                @foreach (var item in Model.listOfKhachHang)
                {
                    if (item.MA_KH == Model.selectedPHIEUBANXE.MAKH)
                    {
                        <option value="@item.MA_KH" selected>@item.TEN_KH</option>
                    }
                    else
                    {
                        <option value="@item.MA_KH">@item.TEN_KH</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="input-sm">Trị giá (VNĐ):</label>
            <input class="form-control input-sm" readonly type="number" value="@String.Format("{0:#,###,###,###}", Model.selectedPHIEUBANXE.TRIGIA)" id="textbox_trigia" required maxlength="20" name="TRIGIA" />
        </div>
        <div class="form-group">
            <label class="input-sm">Số tiền còn lại :</label>
            <input id="textbox_sotienconlai" value="@String.Format("{0:#,###,###,###}",Model.selectedPHIEUBANXE.SOTIENCONLAI)" class="form-control input-sm" required type="number" name="SOTIENCONLAI" readonly />
        </div>
        <div class="form-group">
            <label class="input-sm">Hạn chót thanh toán :</label>
            <input id="datebox_hanchotthanhtoan" class="form-control input-sm" type="text" value="@Model.selectedPHIEUBANXE.HANCHOTTHANHTOAN.Value.ToString("dd/MM/yyyy")" name="HANCHOTTHANHTOAN" readonly />
        </div>
        <div class="form-group">
            <label class="input-sm">Hạn bảo hành (Tháng) :</label>
            <input class="form-control input-sm" required value="@Model.selectedPHIEUBANXE.HANBAOHANH" id="datebox_hanchotthanhtoan" type="number" maxlength="255" name="HANBAOHANH" />
        </div>
        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-saved"></span>Cập nhật</button>
    </div>
}
<link href="~/Content/css/plugin/DatePicker/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugin/DatePicker/jquery-ui.js"></script>
<script>
    //$(function () {
    //    $(".date").datepicker({ dateFormat: 'yy/mm/dd' });

    //});
    $("form").submit(function (e) {
        //check validation of paying
        //var remainder = new Number($("#textbox_sotienconlai").val());
        //var total = new Number($("#textbox_trigia").val());
        //if (remainder >= total) {
        //    alert("Số tiền còn lại phải nhỏ hơn số tổng trị giá phiếu !");
        //    e.preventDefault();
        //}
        //// Firstly, check final payment date and creation date
        //var creationTime = $("#datebox_ngaylapphieu").val();
        //var finalPaymentTime = $("#datebox_hanchotthanhtoan").val();//datepicker("getDate");//parseDate("dd-mm-yy" , finalPaymentTime); // get date from jquery date picker with specified date format
        //console.log(finalPaymentTime);
        //if (isAfterStartDate(creationTime, finalPaymentTime) == false) {
        //    alert("Hạn chót thanh toán phải lớn hơn hoặc cùng với ngày lập phiếu !");
        //    e.preventDefault();
        //}
    });

    //$(function () {
    //    $("#datebox_hanchotthanhtoan").datepicker({ dateFormat: 'dd/mm/yy' });
    //});

    ///
    // Ultility method for comparing date validation
    //
    var isAfterStartDate = function (startDateStr, endDateStr) {
        var inDate = new Date(startDateStr),
            eDate = new Date(endDateStr);
        if (eDate >= inDate) {
            return true;
        } else {
            return false;
        }

    };
</script>

