@model QuanLyGaraOto.ViewModel.ThamSoViewModel
@using PagedList.Mvc;
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách tham số";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<style>
    .table th {
        width: auto !important;
    }
</style>


@using (@Html.BeginForm("Index", "KhachHang", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-inline">

        <div class="form-group">
            <label for="searchOption">Tìm theo tên:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Search</button>
        </div>
    </div>
}


<div class="table-responsive" style="padding-top:10px;">
    <table id="thamso-table" class="table table-bordered table table-hover ">
        <thead style="color:red;">
            <tr>
                <th >Tên tham số:</th>
                <th>Giá trị</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                //List<ASPExample.Models.Product> listProduct = (List<ASPExample.Models.Product>)Model.listProduct;
                foreach (var item in Model.ListThamSo.ToList())
                {
                    <tr class="clickable-row">
                        <td id="id" >@item.TENTHAMSO</td>
                        <td> @item.GIATRI</td>


                        <td>

                            @Html.ActionLink("Sửa", "CapNhat", new { id = @item.TENTHAMSO }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) |


                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    Page @(Model.ListThamSo.PageCount < Model.ListThamSo.PageNumber ? 0 : Model.ListThamSo.PageNumber) of @Model.ListThamSo.PageCount

    @Html.PagedListPager(Model.ListThamSo, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#khachhang-table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });




   

</script>
