@model QuanLyGaraOto.Models.BANGTHAMSO
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Cập nhật tham số";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<h2 class="text-center" style="color:green;">CẬP NHẬT THAM SỐ</h2>
@using (Html.BeginForm("SuaThamSo", "ThamSo", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <table class="table-info borderless">
        <tr>
            <th class="col-xs-2"></th>
            <th class="col-xs-4"></th>
            <th class="col-xs-2"></th>
            <th class="col-xs-4"></th>
        </tr>
        <tbody>
            <tr>
                <td><label>Tham số:</label></td>
                <td><input type="text" maxlength="10" name="NOIDUNG" class="form-control" value="@Model.NOIDUNG" readonly /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><label>Giá trị:</label></td>
                <td><input type="number" maxlength="10" name="GIATRI" value="@Model.GIATRI" class="form-control" /></td>
                <td></td>
                <td></td>
            </tr>
            
           

        </tbody>
    </table>
    @*<input type="hidden" name="TENTHAMSO" value="@Model.TENTHAMSO"/>
    <div class="form-group form-inline">
        <label>Tham số:</label>
        <input type="text" maxlength="10" name="NOIDUNG" class="form-control" value="@Model.NOIDUNG" readonly />
    </div>
    <div class="form-group form-inline">
        <label>Giá trị:</label>
        <input type="number" maxlength="10" name="GIATRI" value="@Model.GIATRI" class="form-control"/>
    </div>*@
    <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-save"></span> Lưu</button>
}


