@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.XeViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Thông tin xe mới";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN XE MỚI</h3>

@using (Html.BeginForm("NhapXe", "Xe", FormMethod.Post, new { @id = "nhapxe_form" }))
{
    <div class="col-sm-6">
        <div class="form-group">
            <label class="input-sm">Biển số xe :</label>
            <input class="form-control input-sm" type="text" maxlength="10" name="BS_XE" required />
        </div>
        <div class="form-group ">
            <label class="input-sm"> Ngày tiếp nhận :</label>
            <input class="form-control input-sm" readonly="readonly" type="text" value="@DateTime.Now" id="datebox_ngaylapphieu" maxlength="30" name="NGAY_TIEPNHAN" required />
        </div>
        <div class="form-group">
            <label class="input-sm">Hiệu xe :</label>
            <select name="HIEU_XE" class="cboNhom form-control input-sm">
                @foreach (var item in Model.danhSachHieuXe)
                {
                    if (!item.MA_HIEUXE.Equals("Tất cả"))
                    {
                        <option value="@item.MA_HIEUXE">@item.MA_HIEUXE</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label class="input-sm">Khách hàng :</label>
            <select name="MA_KH" class="cboNhom form-control input-sm">
                @foreach (var item in Model.danhSachKhachHang)
                {
                    <option value="@item.MA_KH">@item.TEN_KH</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="input-sm">Số khung :</label>
            <input class="form-control input-sm" type="text" placeholder="Số khung xe" maxlength="10" name="SO_KHUNG" required />
        </div>
        <div class="form-group">
            <label class="input-sm">Số máy :</label>
            <input class="form-control input-sm" type="text" placeholder="Số máy" maxlength="10" name="SO_MAY" required />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tinhTrang" class="input-sm">Tình trạng xe :</label>
            <textarea maxlength="1000" class="form-control" required rows="5" id="tinhTrang" name="TINH_TRANG"></textarea>
        </div>
        <div class="form-group">
            <label class="input-sm">Đời xe :</label>
            <select name="DOI_XE" class=" form-control input-sm">
                @for (int i = 2000; i <= DateTime.Now.Year; ++i)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="input-sm">Số Km :</label>
            <input class="form-control input-sm" type="number" placeholder="Số Km" maxlength="6" name="SO_KM" required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Dữ liệu không được trống')" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        </div>

        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span>Lưu</button>
    </div>
}

