@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.XeViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Sửa thông tin xe";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">CẬP NHẬT THÔNG TIN XE</h3>

@using (Html.BeginForm("SuaThongTinXe", "Xe", FormMethod.Post, new { @id = "#suathongtinxe_form" }))
{
    <div class="col-sm-4">
        <div class="form-group">
            <label class="input-sm" style="color : red;">Biển số xe :</label>
            <input class="form-control input-sm" type="text" maxlength="20" value="@Model.selectedXe.BS_XE" name="BS_XE" required  readonly/>
        </div>
        <div class="form-group ">
            <label class="input-sm">Ngày tiếp nhận :</label>
            <input class="form-control input-sm" readonly="readonly" type="date" value="@String.Format("{0:dd/MM/yyyy}",Model.selectedXe.NGAY_TIEPNHAN.Value)" maxlength="30" name="NGAY_TIEPNHAN" required />
        </div>
        <div class="form-group ">
            <label class="input-sm">Khách hàng :</label>
            <input class="form-control input-sm" type="text" value="@(Model.selectedXe.MA_KH == null ? "Cửa hàng" : Model.service.KHACHHANGs.Where(e => e.MA_KH == Model.selectedXe.MA_KH).Single().TEN_KH)" readonly="readonly" maxlength="30" name="maNhanVien" required /> <!--auto fill information of the staff-->
        </div>
        <div class="form-group">
            <label class="input-sm">Hiệu xe :</label>
            <select name="HIEU_XE" class="cboNhom form-control input-sm">
                @foreach (var item in Model.danhSachHieuXe)
                {
                    if (!item.MA_HIEUXE.Equals("Tất cả"))
                    {
                        if (item.MA_HIEUXE == Model.selectedXe.HIEU_XE)
                        {
                            <option value="@item.MA_HIEUXE" selected="selected">@item.MA_HIEUXE</option>
                        }
                        else
                        {
                            <option value="@item.MA_HIEUXE">@item.MA_HIEUXE</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <label class="input-sm">Hình thức :</label>
            <input class="form-control input-sm" type="text" value="@(Model.selectedXe.HINHTHUC == true ? "Xe bán" : "Xe sửa")" readonly="readonly" maxlength="30" name="HINHTHUC" required />
        </div>
        <div class="form-group">
            <label class="input-sm">Số khung :</label>
            <input class="form-control input-sm" type="text" value="@Model.selectedXe.SO_KHUNG" placeholder="Số khung xe" maxlength="17" name="SO_KHUNG" required />
        </div>
        <div class="form-group">
            <label class="input-sm">Số máy :</label>
            <input class="form-control input-sm" type="text" placeholder="Số máy" value="@Model.selectedXe.SO_MAY" maxlength="20" name="SO_MAY" required />
        </div>
        <div class="form-group">
            <label class="input-sm">Số Km :</label>
            <input class="form-control input-sm" type="text" placeholder="Số Km" value="@Model.selectedXe.SO_KM" maxlength="30" name="SO_KM" required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Dữ liệu không được trống')" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
        </div>

    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="tinhTrang" class="input-sm">Tình trạng xe :</label>
            <textarea class="form-control" maxlength="1000" rows="5" id="tinhTrang" name="TINH_TRANG">@Model.selectedXe.TINH_TRANG</textarea>
        </div>
        <div class="form-group">
            <label class="input-sm">Đời xe :</label>
            <select name="DOI_XE" class=" form-control input-sm">
                @for (int i = 2000; i <= DateTime.Now.Year; ++i)
                {
                    if (i == int.Parse(Model.selectedXe.DOI_XE))
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </div>
        @*<div class="form-group">
                <label class="input-sm">Đời xe :</label>
                <input class="form-control input-sm" type="text" value="@Model.selectedXe.DOI_XE" placeholder="Đời xe" maxlength="4" name="DOI_XE" required oninput="setCustomValidity('')" oninvalid="setCustomValidity('Dữ liệu không được trống')" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
            </div>*@
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> Lưu</button>
    </div>
}






