@using PagedList.Mvc;
@model QuanLyGaraOto.ViewModel.PhieuBaoHanhViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách phiếu bảo hành";
}
<head>
    <title>@ViewBag.Title</title>
</head>


<style>
    .table th {
        width: auto !important;
    }
</style>

@using (@Html.BeginForm("Index", "PhieuBaoHanh", FormMethod.Get, new { @class = "form-inline" }))
{
    <h3 class="text-center" style="color: green;">DANH SÁCH PHIẾU BẢO HÀNH</h3>
    <div class="form-inline">
        <div class="form-group">
            <label for="searchOption">Tìm theo:</label>
            @Html.DropDownList("searchOption", Model.listSearchOption, new { @class = "form-control" })
            @* @Html.DropDownListFor(m => m.selectedValue, Model.listSearchOption, new { @class = "form-control" })*@
        </div>
        <div class="form-group">
            <label for="searchOption">Giá trị:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Ví dụ : 25/8/2016" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Search</button>
        </div>
    </div>
}

<div class="table-responsive" style="padding-top:10px;">
    <table id="phieuchi_table" class="table table-bordered table table-hover">
        <thead style="color:red; text-align : center; background-color : white;">
            <tr>
                <th style="display:none">Id</th>
                <th>Mã phiếu</th>
                <th>Ngày lập</th>
                <th>Nhân viên</th>
                <th>Tình trạng</th>
                <th>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            @{
                //List<ASPExample.Models.Product> listProduct = (List<ASPExample.Models.Product>)Model.listProduct;
                foreach (var item in Model.danhSachPhieuBaoHanh.ToList())
                {
                    <tr class="clickable-row">
                        <td id="id" style="display:none">@item.MA_PHIEUBH</td> <!-- id cua phieu ban se duoc fill nhung se khong hien thi tren view cua client-->
                        <td> @item.MA_PHIEUBH</td>
                        <td> @String.Format("{0:dd/MM/yyyy}", item.NGAYLAP.Value.Date)</td> <!-- chi quan tam den ngay, khong quan tam chi tiet den gio-->
                        <td> @(item.MA_NV != null ? @item.NHANVIEN.HOTEN : "Chưa cập nhật")</td>
                        <td>@item.TINHTRANG</td>
                        <td>
                            @Html.ActionLink("Sửa", "SuaPhieuBaoHanh", new { idPhieuBaoHanh = @item.MA_PHIEUBH }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) |
                            <button id="button_delete" class="btnDelete btn btn-danger glyphicon glyphicon-remove" type="button">Xóa</button>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    Page @(Model.danhSachPhieuBaoHanh.PageCount < Model.danhSachPhieuBaoHanh.PageNumber ? 0 : Model.danhSachPhieuBaoHanh.PageNumber) of @Model.danhSachPhieuBaoHanh.PageCount
    @Html.PagedListPager(Model.danhSachPhieuBaoHanh, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#phieubanxe_table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    ///
    // Handle when user click delete button
    //
    $(document).ready(function () {
        $("#button_delete").on("click", function (e) {

            e.preventDefault();
            var $item = $(this).closest("tr").find("#id").text();
            var itemid = $item.valueOf();
            var isSucess = -1;
            var message = "";
            var row = $(this).closest("tr");

            $.ajax({
                url: '/PhieuBaoHanh/Xoa/',

                data: JSON.stringify({ id: itemid }), // parameter

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;

                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    row.remove();
                    alert(message);
                    // window.location.replace("index");
                }
                else {
                    alert(message);
                }
            });
        })
    });

</script>
