@using QuanLyGaraOto.Models;
@model QuanLyGaraOto.ViewModel.PhieuBaoHanhViewModel
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Cập nhật thông tin phiếu bảo hành";

}

<!DOCTYPE html>
<head>
    <title>@ViewBag.Title</title>
</head>
<style>
    .table th {
        width: auto !important;
    }

    .table {
        font-size: small;
    }

    .form-group {
        margin-bottom: 5px;
    }
</style>
<h3 class="text-center" style="color:green;">THÔNG TIN PHIẾU BẢO HÀNH</h3>
@Html.Raw(TempData["msg"])
@using (Html.BeginForm("SuaPhieuBaoHanh", "PhieuBaoHanh", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-inline" hidden>
        <input type="text" name="id" value="@Model.selectedItem.MA_PHIEUBH" />
    </div>
    <div class="form-inline">
        <label>Mã phiếu:</label>
        <label>@Model.selectedItem.MA_PHIEUBH</label>
    </div>
    <div class="form-inline">
        <label>Ngày lập:</label>
        <label>@Model.selectedItem.NGAYLAP.Value.Date.ToShortDateString()</label>
    </div>
    <div class="form-inline">
        <label>Người lập:</label>
        <label>@Model.selectedItem.NHANVIEN.HOTEN</label>
    </div>
    <div class="form-inline">
        <label>Tình trạng:</label>
        <textarea class="form-control input-sm" maxlength="1000" name="tinhTrang" cols="30" rows="5">@Model.selectedItem.TINHTRANG</textarea>
    </div>

    <div class="panel panel-default" style="width:99%;">
        <div class="panel-heading">Thông tin chi tiết:</div>
        <div class="panel-body">

            <div class="table-responsive" style="padding-top:10px; margin-right:20px;">
                <table id="chitietphieu-table" class="table table-bordered table table-hover table-condensed ">
                    @*<thead style="color:red;">*@
                    <tr class="trFirstRow" style="color:red;" data-id="-1">
                        <th style="display:none">Id</th>
                        <th>Phụ tùng</th>
                        <th>Mã phụ tùng</th>
                        <th>Ngày hẹn trả</th>
                        <th>Ngảy trả</th>
                        <th>Cập nhật</th>
                    </tr>
                    @*  </thead>*@
                    <tbody>
                        <tr class="record-template" style="display:none">
                            <td style="display:none">
                                <input type="hidden" class="ID" name="ID" value="" />
                            </td>
                            <td style="display:none;">
                                <input type="hidden" class="maPDV" name="ID_PHIEUDV" value="" />
                            </td>
                            <td style="display:none;">
                                <input type="hidden" class="maPT" name="MA_PT" value="" />
                            </td>
                            <td>
                                <input class="txtTenPT form-control input-sm" type="text" value="" readonly />

                            </td>

                            <td>
                                <input type="text" class="txtMaTenPT form-control input-sm" value="" readonly />

                            </td>
                            <td>
                                <input type="text" class="txtSoluong form-control input-sm" name="SOLUONG" value="" readonly />

                            </td>
                            <td>
                                <input type="text" class="txtdonGia form-control input-sm" name="DONGIA" value="" readonly />
                            </td>

                            <td>
                                <input type="text" class=" txtThanhTien form-control input-sm" name="THANHTIEN" value="" readonly />
                            </td>
                            <td>
                                <input type="text" class="txtBaoHanh form-control input-sm" name="THOIHAN_BAOHANH" value="" readonly />
                            </td>
                            <td>
                                <input type="button" value="Xóa" class="btnDelete btn btn-danger" />
                            </td>
                        </tr>
                        @foreach (var item in Model.danhSachChiTietBaoHanh)
                        {
                            <tr class="record-template">
                                <td style="display:none">
                                    <input type="hidden" class="ID" name="ID" value="@item.Id" />
                                </td>
                                <td style="display:none;">
                                    <input type="hidden" class="maPDV" name="ID_PHIEUDV" value="@(item.MA_PHIEUDV != null ? item.MA_PHIEUDV.ToString() : "")" />
                                </td>
                                <td style="display:none;">
                                    <input class="maPT" name="MA_PT" value="@item.MA_PHUTUNG" />
                                </td>
                                <td>
                                    <input class="txtTenPT form-control input-sm" type="text" value="@item.PHUTUNG.TEN_PHUTUNG" readonly />

                                </td>
                                <td><input class="txtMaTenPT form-control input-sm" type="text" value="@item.MA_PHUTUNG" readonly /></td>
                                <td>
                                    <input class="form-control input-sm date ngayhentra" type="text" value="@String.Format("{0:yyyy/MM/dd}", @item.NGAYHENTRA)" name="ngayhentra" placeholder="27/8/2016" />

                                </td>
                                <td>
                                    <input class="form-control input-sm date ngaytra" type="text" value="@String.Format("{0:yyyy/MM/dd}", @item.NGAYTRA)" name="ngaytra" placeholder="27/8/2016" />
                                </td>
                                <td>
                                    <input id="button_update" type="button" value="Lưu" class="btn-update btn btn-primary btn-sm" />
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <button id="button_save_state" class="btn btn-info" style="margin-top: 25px;"><span class="glyphicon glyphicon-save"></span>Lưu</button>
}
<link href="~/Content/css/plugin/DatePicker/datepicker.css" rel="stylesheet" />
<script src="~/Content/plugin/DatePicker/jquery-ui.js"></script>
<script>
    $(function () {
        $(".date").datepicker({
            dateFormat: 'yy/mm/dd',
            changeMonth: true,
            changeYear: true
        });
    });
    $("form").submit(function (e) {
        var rowCount = $("#chitietphieu-table tr").length;
        var numberofContentRow = parseInt(rowCount - 2);
        //alert(numberofContentRow);
        if (numberofContentRow == 0) {
            alert("Vui lòng nhập dữ liệu vào bảng chi tiết!");
            e.preventDefault();
        }
        //if ($(".txtTienCong").val().length <= 0) {
        //    alert("Vui lòng nhập giá trị tiền công!");
        //    e.preventDefault();
        //}
        //else {
        //    var tc = parseInt($(".txtTienCong").val());
        //    if (tc <= 1000) {
        //        alert("Giá trị tiền công tối thiểu là 1000!");
        //        e.preventDefault();
        //    }
        //}
        //if ($(".txtMaPhieu").val().length <= 0) {
        //    alert("Vui lòng nhập mã số phiếu dịch vụ!");
        //    e.preventDefault();
        //}
        //alert("method call");
        //e.preventDefault();
        //alert("stop submit");
    })

    ///
    // Ultility method for comparing date validation
    //
    var isAfterStartDate = function (startDateStr, endDateStr) {
        var inDate = new Date(startDateStr),
            eDate = new Date(endDateStr);
        if (eDate >= inDate) {
            return true;
        } else {
            return false;
        }

    };

    $('#chitietphieu-table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });

    // register click listener for button
    $("body").delegate(".btn-update", "click", function () {
        var rowcount = $("#chitietphieu-table tr").length - 2;
        var row = $(this).closest("tr"); // get the focus row
        var maPhieuDv = row.find("input.maPDV").attr("value");
        var maPhuTung = row.find("input.maPT").attr("value");
        var ngayHenTra = row.find("input.ngayhentra").val(); // lay gia tri ngay hen tra
        var ngayTra = row.find("input.ngaytra").val(); // lay gia tri ngay tra

        // kiem tra ngay tra va ngay hen tra du lieu co hop ly ?
        if (isAfterStartDate(ngayHenTra, ngayTra) == false) {
            alert("Ngày trả phải cùng hoặc sau ngày hẹn trả");
        } else {

            var recordId = row.find("input.ID").attr("value");
            var detail = { "detailId": recordId, "ngayHenTra": ngayHenTra, "ngayTra": ngayTra }

            $.ajax({

                url: '/PhieuBaoHanh/CapNhatChiTietBaoHanh/',
                data: JSON.stringify({ chitiet: detail }),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                    //alert(message);
                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    location.reload();
                    //alert("Cập nhật chi tiết thành Công");
                }
                else {
                    //alert("Error. Please, check the data");
                    location.reload();
                }
            });
        }

    });
</script>
