@model QuanLyGaraOto.ViewModel.DSPhieuBanLeViewModel
@using PagedList.Mvc;
@using System.Globalization;
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách phiếu bán lẻ";
}
@Html.Raw(TempData["msg"])
<head>
    <title>@ViewBag.Title</title>
</head>

<style>
    .table th {
        width: auto !important;
    }
</style>
<h3 class="text-center" style="color:green;">DANH SÁCH PHIẾU BÁN LẺ</h3>




@using (@Html.BeginForm("Index", "PhieuBanLe", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-inline">
        <div class="form-group">
            <label for="searchOption">Tìm theo:</label>
            @Html.DropDownList("searchOption", Model.listSearchOption, new { @class = "form-control input-sm" })
            @* @Html.DropDownListFor(m => m.selectedValue, Model.listSearchOption, new { @class = "form-control" })*@

        </div>
        <div class="form-group">
            <label for="searchOption">Giá trị:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-sm" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Search</button>
        </div>
    </div>
}

<a href="@Url.Action("NhapPhieuBanLe","PhieuBanLe")" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>
<div class="table-responsive" style="padding-top:10px;">
    <table id="phieudv-table" class="table table-bordered table table-hover ">
        <thead style="color:red; background-color:white;">
            <tr>
                <th style="display:none">Id</th>
                <th>Mã số phiếu</th>
                <th>@Html.ActionLink("Ngày lập", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption })<span class="glyphicon glyphicon-arrow-down"></span></th>
                <th>Hạn chót thanh toán</th>
                <th>Người lập</th>
                <th>Tên khách hàng</th>
                <th>@Html.ActionLink("Tổng tiền", "Index", new { sortOrder = ViewBag.TotalSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption })<span class="glyphicon glyphicon-arrow-down"></span></th>
                <th>@Html.ActionLink("Còn lại", "Index", new { sortOrder = ViewBag.RemainSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption })<span class="glyphicon glyphicon-arrow-down"></span></th>

                <th>Thao tác</th>


            </tr>
        </thead>
        <tbody>
            @{
                //List<ASPExample.Models.Product> listProduct = (List<ASPExample.Models.Product>)Model.listProduct;
                foreach (var item in Model.ListData.ToList())
                {
                    <tr class="clickable-row">
                        <td id="id" style="display:none">@item.ID_PHIEUBANLE</td>
                        <td> @item.MaPhieuBan</td>
                        <td> @item.NgayLap.Date.ToShortDateString()</td>
                        <td> @item.HanChotThanhToan.Date.ToShortDateString()</td>
                        <td> @item.TenNV</td>
                        <td>@item.TenKH</td>
                        <td> @*@Math.Round(item.TongTien)*@ @*@String.Format("{00:#,###,###,###}", item.TongTien)*@ @string.Format("{0:n0}", item.TongTien)  </td>
                        <td id="conlai"> @*@Math.Round(item.SoTienConLai)*@ @*@String.Format("{0:#,###,###,###}", item.SoTienConLai)*@ @string.Format("{0:n0}", item.SoTienConLai)</td>
                        <td>

                            @Html.ActionLink("Sửa", "SuaPhieuBanLe", new { id = @item.ID_PHIEUBANLE }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                            <button class="btnDelete btn btn-danger glyphicon glyphicon-remove" type="button">Xóa</button>
                            @if (Model.service.CHITIET_PHIEUBH.Where(e => e.MAPHIEU_BANLE == item.ID_PHIEUBANLE).Count() > 0)
                            {
                                List<QuanLyGaraOto.Models.CHITIET_PHIEUBH> baoHanhs = Model.service.CHITIET_PHIEUBH.Where(e => e.MAPHIEU_BANLE == item.ID_PHIEUBANLE).ToList();
                                <a class="btnCreateBill btn btn-default glyphicon glyphicon-pencil" href="@Url.Action("SuaPhieuBaoHanh", "PhieuBaoHanh", new { idPhieuBaoHanh = @baoHanhs[0].MA_PHIEUBH})">Thông tin bảo hành</a>
                            }
                            else
                            {
                                <a class="btnCreateBill btn btn-default glyphicon glyphicon-pencil" href="@Url.Action("ThemPhieuBaoHanhFromPhieuBanLe", "PhieuBaoHanh", new { idPhieuBanLe = @item.ID_PHIEUBANLE })">Bảo hành</a>
                            }
                           <a href="@Url.Action("ThemMoi", "PhieuThu", new { idphieu = @item.ID_PHIEUBANLE, type = "pbl" })" class="btn btn-primary btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span>Lập phiếu thu</a>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    Trang @(Model.ListData.PageCount < Model.ListData.PageNumber ? 0 : Model.ListData.PageNumber) của @Model.ListData.PageCount

    @Html.PagedListPager(Model.ListData, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#phieudv-table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });




    $(document).ready(function () {
        $(".btnDelete").on("click", function (e) {
            e.preventDefault();
            var $item = $(this).closest("tr").find("#id").text();
            var itemid = $item.valueOf();
            var isSucess = -1;
            var message = "";
            var row = $(this).closest("tr");

            $.ajax({


                url: '/PhieuBanLe/Xoa/',

                data: JSON.stringify({ id: itemid }),

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;

                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    row.remove();
                    //alert(message);
                    // window.location.replace("index");
                }
                else {
                    //alert(message);
                }
            });
        })
    })

</script>

