@model QuanLyGaraOto.Models.THO
@{
    ViewBag.Title = "Thêm thông tin thợ";
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3 class="text-center" style="color: green;">Thêm thông tin thợ</h3>
    @using (Html.BeginForm("ThemMoi", "Tho", FormMethod.Post))
    {
        <div class="form-group">
            <label>Họ tên:</label>
            @Html.TextBoxFor(m => m.TENTHO, new {@class = "form-control"})
            @Html.ValidationMessage("TENTHO", new { @style = "color:red;" })
        </div>
        <div class="form-group">
            <label>Số điện thoại:</label>
            @Html.TextBoxFor(m => m.SDT, new {@class = "form-control"})
            @Html.ValidationMessage("SDT", new {@style = "color:red;"})
        </div>
        <div class="form-group">
            <label>Địa chỉ:</label>
            @Html.TextBoxFor(m => m.DIACHI, new {@class = "form-control"})
            @Html.ValidationMessage("DIACHI", new {@style = "color:red;"})
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Lưu</button>
        </div>
    }
</body>
