@model QuanLyGaraOto.Models.KHACHHANG
@{
    ViewBag.Title = "Thêm Khách Hàng";
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
}
@Html.Raw(TempData["msg"])
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN KHÁCH HÀNG</h3>
@using (@Html.BeginForm("ThemMoi", "KhachHang", FormMethod.Post))
{
    <div class="form-group">
        <label>Họ tên:</label>
        @Html.TextBoxFor(Model => Model.TEN_KH, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Số CMND:</label>
        @Html.TextBoxFor(Model => Model.CMND, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Số điện thoại:</label>
        @Html.TextBoxFor(Model => Model.SDT, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Địa chỉ:</label>
        @Html.TextBoxFor(Model => Model.DIACHI, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Lưu</button>
    </div>
}

