@model QuanLyGaraOto.Models.KHACHHANG
@{
    ViewBag.Title = "Thêm Khách Hàng";
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
}
@Html.Raw(TempData["msg"])
<head>
    <title>@ViewBag.Title</title>
</head>

<h3 class="text-center" style="color:green;">THÔNG TIN KHÁCH HÀNG</h3>
@using (@Html.BeginForm("CapNhat", "KhachHang", FormMethod.Post))
{
    @Html.HiddenFor(m => m.MA_KH, Model)
    <div class="form-group">
        <label>Họ tên:</label>
        @Html.TextBoxFor(m => m.TEN_KH, new { @class = "form-control input-sm" })
        @Html.ValidationMessage("TEN_KH", new { @style = "color:red;" })
    </div>
    <div class="form-group">
        <label>Số CMND:</label>
        @Html.TextBoxFor(m => m.CMND, new { @class = "form-control input-sm", @maxlength = 9 })
        @Html.ValidationMessage("CMND", new { @style = "color:red;" })
    </div>
    <div class="form-group">
        <label class="input-sm">Giới tính:</label>
        @*<input type="number" maxlength="20" name="SDT" class="form-control input-sm" />*@
        @*<label class="radio-inline"><input type="radio" name="GIOITINH" value="true" checked="checked">Nam</label>*@
        <label class="radio-inline">@Html.RadioButtonFor(m => m.GIOITINH, "true", new { @class = " input-sm" }) Nam</label>
        <label class="radio-inline">@Html.RadioButtonFor(m => m.GIOITINH, "false", new { @class = " input-sm" }) Nữ</label>
        @*@Html.RadioButtonFor(m => m.GIOITINH, "false", new { @class = "radio-inline input-sm" })<span>Nữ</span>*@

    </div>
    <div class="form-group">
        <label>Số điện thoại:</label>
        @Html.TextBoxFor(m => m.SDT, new { @class = "form-control input-sm", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @maxlength = 11 })
        @Html.ValidationMessage("SDT", new { @style = "color:red;" })
    </div>
    <div class="form-group">
        <label>Địa chỉ:</label>
        @Html.TextBoxFor(m => m.DIACHI, new { @class = "form-control input-sm" })
        @Html.ValidationMessage("DIACHI", new { @style = "color:red;" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Lưu</button>
    </div>
}

