@model QuanLyGaraOto.ViewModel.KhachHangViewModel
@using PagedList.Mvc;
@{
    Layout = "~/Views/Layout/_GeneralLayout.cshtml";
    ViewBag.Title = "Danh sách khách hàng";
}
<head>
    <title>@ViewBag.Title</title>
</head>

<style>
    .table th {
        width: auto !important;
    }
    .table th , .clickable-row {
        width: auto !important;
        font-size: 10pt;
    }
</style>

<h3 class="text-center" style="color:green;">DANH SÁCH KHÁCH HÀNG </h3>
@Html.Raw(TempData["msg"])
@using (@Html.BeginForm("Index", "KhachHang", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-inline">
        <div class="form-group">
            <label for="searchOption">Tìm theo:</label>
            @Html.DropDownList("searchOption", Model.listSearchOption, new { @class = "form-control input-sm" })
            @* @Html.DropDownListFor(m => m.selectedValue, Model.listSearchOption, new { @class = "form-control" })*@

        </div>
        <div class="form-group">
            <label for="searchOption">Giá trị:</label>
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-sm" style="margin-top:25px;"><span class="glyphicon glyphicon-search"></span>Tìm</button>
        </div>
    </div>
}
@*<a href="@Url.Action("ThemMoi","KhachHang")" class="btn btn-primary" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>*@
<a href="@Url.Action("ThemMoi", "KhachHang")" class="btn btn-primary btn-sm" role="button" style="margin-top: 5px"><span class="glyphicon glyphicon-plus"></span>Thêm mới</a>
@*@Html.ActionLink("Thêm", "ThemMoi", null, new { @class = "btn btn-primary btn-lg glyphicon glyphicon-plus" })*@

<div class="table-responsive" style="padding-top:10px; margin-left:-20px;">
    <table id="khachhang-table" class="table table-bordered table table-hover ">
        <thead style="color:red; background-color:white;">
            <tr>
                <th style="display:none">Id</th>
                <th>@Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption })</th>
                <th>Số CMND</th>
                <th>Giới tính</th>
                <th>Điện thoại</th>
                <th>Địa chỉ</th>
                <th>@Html.ActionLink("Số tiền nợ", "Index", new { sortOrder = ViewBag.OweSortParam, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption })</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                //List<ASPExample.Models.Product> listProduct = (List<ASPExample.Models.Product>)Model.listProduct;
                foreach (var item in Model.ListKhachHang.ToList())
                {
                    <tr class="clickable-row">
                        <td id="id" style="display:none">@item.MA_KH</td>
                        <td style="vertical-align: middle"> @item.TEN_KH</td>
                        <td style="vertical-align: middle"> @item.CMND</td>
                        @if (@item.GIOITINH.Value == true)
                        {
                            <td style="vertical-align: middle">Nam</td>
                        }
                        else
                        {
                            <td style="vertical-align: middle">Nữ</td>
                        }
                        
                        <td style="vertical-align: middle"> @item.SDT</td>
                        <td style="vertical-align: middle">@item.DIACHI</td>
                        <td style="vertical-align: middle"> @*@Math.Round(item.SOTIENNO.Value)*@ @*@String.Format("{0:#,###,###,###}", item.SOTIENNO.Value)*@ @string.Format("{0:n0}", item.SOTIENNO)</td>

                        <td style="vertical-align: middle">

                            @Html.ActionLink("Sửa", "CapNhat", new { id = @item.MA_KH }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" }) 
                            @*Da fix du dau gach*@
                            <!--<button id="btnDelete" type="button" class="btn btn-danger glyphicon-remove">Delete</button>-->
                            <button class="btnDelete btn btn-danger glyphicon glyphicon-remove" type="button">Xóa</button>

                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    Trang @(Model.ListKhachHang.PageCount < Model.ListKhachHang.PageNumber ? 0 : Model.ListKhachHang.PageNumber) của @Model.ListKhachHang.PageCount

    @Html.PagedListPager(Model.ListKhachHang, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, searchOption = ViewBag.CurrentSearchOption }))
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('#khachhang-table').on('click', '.clickable-row', function (event) {
        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).addClass('active').siblings().removeClass('active');
        }
    });




    $(document).ready(function () {
        $(".btnDelete").on("click", function (e) {
            e.preventDefault();
            var $item = $(this).closest("tr").find("#id").text();
            var itemid = $item.valueOf();


            var isSucess = -1;
            var message = "";
            var row = $(this).closest("tr");

            $.ajax({


                url: '/KhachHang/Xoa/',

                data: JSON.stringify({ id: itemid }),

                type: 'POST',

                contentType: 'application/json; charset=utf-8',

                success: function (result) {
                    isSuccess = result.value;
                    message = result.message;

                },
                error: function (result) {
                    isSuccess = result.value;
                    message = result.message;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    row.remove();
                    //alert(message);
                    location.reload();
                    // window.location.replace("index");
                }
                else {
                    location.reload();
                    //alert(message);
                }
            });
        })
    })

</script>